<div class="card flex justify-center">
  <p-drawer #drawerRef [(visible)]="visible">
    <ng-template #headless>
      <div class="logo">
        <img
          ngSrc="assets/icons/peachIcon.svg"
          width="35"
          height="35"
          alt="peach"
        />
        <h3>PrimeTime</h3>
      </div>
      <ul class="ul">
        @for (item of menuItems(); track item.id) {
          <li>
            <span>{{ item.label }}</span>
          </li>
        }
      </ul>
    </ng-template>
  </p-drawer>
  <button (click)="visible = true">
    <img
      ngSrc="assets/icons/burger-menu.svg"
      width="45"
      height="45"
      alt="peach"
    />
  </button>
</div>
