/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient(to bottom left, #B72F2F, #3D1158) no-repeat fixed;
  font-family: Inter, "Lato Light", serif;
}

// ------------------ Navigation Sidebar ------------------

.p-drawer {
  background: linear-gradient(to bottom left, #B72F2F, #3D1158) no-repeat fixed !important;
  border: none !important;
  border-radius: 5px;

}

.p-drawer-left {
  width: 16rem !important;
}
